body {
  background: #053324;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#infoBar {
  padding: 10px;
  font-size: 18px;
}

#takeBtn {
  padding: 8px 20px;
  margin: 10px 0;
  cursor: pointer;
}

#poker-table {
  position: relative;
  width: 100%;
  height: 540px;
  box-sizing: border-box;
  border: 3px solid #0f4c33;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
}

/* PLAYER NAME */
.player-name {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
}

/* PLAYER SLOTS */
.player-slot {
  position: absolute;
  width: 240px;
  min-height: 80px;
  text-align: center;
}

#player-top { top: 10px; left: 50%; transform: translateX(-50%); }
#player-bottom { bottom: 10px; left: 50%; transform: translateX(-50%); }
#player-left { top: 50%; left: 10px; transform: translateY(-50%); }
#player-right { top: 50%; right: 10px; transform: translateY(-50%); }

/* CAPTURED AREAS */
.captured-slot {
  position: absolute;
  width: 180px;
  min-height: 60px;
  text-align: center;
  font-size: 12px;
}

#captured-top { top: 100px; left: 50%; transform: translateX(-50%); }
#captured-bottom { bottom: 100px; left: 50%; transform: translateX(-50%); }
#captured-left { left: 10px; top: 60%; transform: translateY(-50%); }
#captured-right { right: 10px; top: 60%; transform: translateY(-50%); }

/* CENTER TABLE */
#center-table {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  transform: translate(-50%, -50%);
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.card {
  background: white;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  min-width: 36px;
  user-select: none;
  cursor: pointer;
  transition: .15s;
  text-align: center;
}

.card.selected {
  transform: translateY(-8px);
  box-shadow: 0 0 10px gold;
}

.card.back {
  background: #222;
  color: transparent;
  border: 2px solid #555;
}

.card.table:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 6px #00ff99;
}
