body {
  background:#0b3d2e;
  color:white;
  font-family:Arial;
  text-align:center;
}
.card {
  background:white;
  color:black;
  padding:6px 10px;
  border-radius:6px;
  margin:4px;
  display:inline-block;
  cursor:pointer;
}
