body {
  background: #033224;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin:0;
  padding:10px;
}

#takeBtn {
  padding: 6px 14px;
  cursor: pointer;
  border-radius:6px;
  background:#e8e8e8;
  margin-bottom: 10px;
  border:1px solid #555;
}

#board {
  position: relative;
  width: 100%;
  height: 550px;
  background: #064636;
  border: 3px solid #1b6d45;
  border-radius: 14px;
  margin-top: 10px;
}

/* MEJA DI TENGAH */
#table-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* KARTU */
.cards {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:6px;
}

.card-img {
  width: 75px;
  height: 105px;
  border-radius:6px;
  user-select:none;
}

.card-img:hover {
  transform: translateY(-6px);
  transition: 0.1s;
}

.back-img {
  width: 75px;
  height: 105px;
  border-radius:6px;
}

/* SLOT PEMAIN */
.player-slot {
  position: absolute;
  width: 200px;
  min-height: 60px;
  text-align: center;
  font-size: 14px;
  color:white;
}

/* POSISI DINAMIS */
#player-top { top: 10px; left:50%; transform:translateX(-50%); }
#player-bottom { bottom: 10px; left:50%; transform:translateX(-50%); }
#player-left { left:10px; top:50%; transform:translateY(-50%); }
#player-right { right:10px; top:50%; transform:translateY(-50%); }

/* HAND (PALING BAWAH) */
#hand {
  display:flex;
  justify-content:center;
  margin-top:10px;
  min-height: 120px;
}
.card-img, .card-back {
  width: 72px;
  height: 100px;
  user-select: none;
}

.card-back {
  width: 50px;
  height: 70px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
